<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThreeFifteen Backend</title>
    {% block styles %}
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='index.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='new.min.css')}}">
    {% endblock %}
</head>
<body>
    <header>
        <h1>ThreeFifteen</h1>
    </header>
    <p>Note: please remember to regularly refresh the page to see the latest bus data, the page does not automatically refresh.</p>
    <h1>Buses currently present</h1>
    <div class="bus-list">
        {% for i in busdata["present"] %}
            <span class="bus-present">Bus {{ i }}</span>
        {% endfor %}
    </div>
    <h1>Buses not here</h1>
    <div class="bus-list">
        {% for i in busdata["absent"] %}
            <span class="bus-absent">Bus {{ i }}</span>
        {% endfor %}
    </div>
</body>
</html
